@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-float-slow {
    animation: float-slow 8s ease-in-out infinite;
  }

  .delay-1000 {
    animation-delay: 1s;
  }
}

@keyframes float-slow {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}
